/* Add your custom styles here */

/* Navbar */
.navbar {
    background-color: #f8f9fa; /* Light background color */
}

.navbar-brand img {
    max-height: 40px; /* Adjust the height of the logo */
}

.navbar-nav .nav-item {
    margin-right: 10px; /* Adjust the spacing between navbar items */
}

/* Dropdown menu */
.dropdown-menu {
    background-color: #f8f9fa; /* Light background color for the dropdown */
}

.dropdown-item {
    color: #212529; /* Text color for dropdown items */
}

.dropdown-item:hover {
    background-color: #e9ecef; /* Background color on hover */
}

/* Active link */
.navbar-nav .nav-item.active .nav-link {
    color: #007bff; /* Active link text color */
}

/* Responsive navbar */
@media (max-width: 768px) {
    .navbar-toggler {
        background-color: #007bff; /* Background color for the toggle button on small screens */
    }

    .navbar-toggler-icon {
        background-color: #fff; /* Color of the hamburger icon on small screens */
    }
}
